{% extends 'admin-home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>AddInspector</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %} 
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <h1>{{ message }}</h1>
                {% endfor %}
            </ul>
    {% endif %}
    <center><h2>Add Inspector</h2></center>
    <form action="addinspector" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container col-6">
        FullName <input type="text" name="fname"  class="form-control"><br>
        ContactNumber <input type="text" name="contact" class="form-control"><br>
        EmailAddress <input type="email" name="email" class="form-control"><br>
        Username <input type="text" name="uname" class="form-control"><br>
        Photo <input type="file" name="photo" class="form-control"><br>
        <input type="submit" value="Add" class="btn btn-success btn-lg" style="margin-left:35%">
    </div>

    </form>
    {% endblock %}
</body>
</html>